/*  your css code here. If applicable */
	body{
		background-color:rgb(204, 204, 204);
		font-family:sans-serif;
	}
	h1,h2{
		text-align:center;
	}
	#list-container-1 {
		border:1px solid black;
		border-radius:5px;
		background-color:rgb(255, 255, 255);
	}
	ul,li,a{
		list-style:none;
		background-color:rgb(255, 255, 255);
		text-decoration-line: none;
		color:black;
	}
	
	#video_audio_container{
		width:500px;
		margin-left: auto;
	    margin-right: auto;
		text-align:center;
		background-color:rgb(255, 255, 255);
		border:1px solid black;
		border-radius:5px;
		padding:10px;
	}
	.player_one{
		background-color:white;
		padding:0px;
		border-radius:0;
	}
	.player_two{
		background-color:white;
		padding:0px;
		border-radius:0;
	}
	p{
		text-align:left;
		font-family:bolder;
	}
	audio{
		width: 500px; 
		height: 50px;
	}